.outreach {
    display: flex;

    /* make sure tabs are shown at top and content follows below */
    flex-direction: column;

    /* put gap between tabs and tab content */
    gap: 30px;

    padding-top: 20px;
}

.outreachSettings {
    display: flex;

    justify-content: center;
    align-items: center;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

@media only screen and (max-width: 1000px) {
    .outreach {
        padding: 5px;
    }
}