.outreach {
    display: flex;

    /* make sure tabs are shown at top and content follows below */
    flex-direction: column;

    /* put gap between tabs and tab content */
    gap: 30px;

    padding-top: 20px;
}

.outreachSettings {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
}

.postSettings {
    display: flex;
    flex-direction: column;

    width: 90%;
}

.connect {
    display: flex;
    justify-content: center;
}

.save {
    display: flex;
    flex-direction: row-reverse;
}

.socialPlatformContainer {
    display: flex;
    /*flex-direction: column;*/
    gap: 20px;
    justify-content: center;
    width: 90%;
}

.socialPlatformContainerReddit {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 90%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

@media only screen and (max-width: 1000px) {
    .outreach {
        padding: 5px;
    }

    .outreachSettings {
        padding-bottom: 100px;
    }

    .socialPlatformContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        width: 90%;
    }
}


/* twitter specific start */
.tweet {
    max-width: 1080px !important;
    width: 100% !important;
    border-radius: 10px;
    height: fit-content;
}

.metadata, .rt-likes {
    display: none;
}


.fake-link, .txt, .metadata, .user-nickname, strong {
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif !important;
}
/* twitter specific end */