.modalBox {
    overflow-y: auto;
    height: fit-content;
    width: fit-content;
    padding: 50px;
    border-radius: 18px;
    border: 1px solid #cfcece;
    font-size: 20px;
    background-color: white;
    box-shadow: 0 0 0 999999px rgba(0, 0, 0, .5);
}

.modalBox > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    left: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.modalBox > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 24px;
    text-align: center;
    padding: 5px;
}
.modalBox > .content {
    width: 100%;
    padding: 10px 5px;
}

.modalBox > #addListForm {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.modalBox > .fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    padding-top: 20px;

}

.modalBox > .fields > .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.modalBox > .fields > .buttonContainer > #deletebtn{
    background-color: red;
}

.modalBox > .fields > .buttonContainer > #deletebtn:hover{
    background-color: darkred;
}