/* entire feed component css*/
.listfeed {
    /*border-style: solid;*/

    /* padding at bottom in case there is a bottom nav bar that would otherwise overlap on top of a post*/

}

/* header css */
.listfeed__header {
    /*border: 2px solid var(--background);*/
    display: flex;
    padding: 15px 20px;
    justify-content: space-between;
    border-bottom: var(--background) 2px solid;
}


@media only screen and (max-width: 1000px) {
    .listfeed {
        padding-bottom: 100px;
    }
}

#addListButton {
    height: 35px;
    width: 35px;
    border-radius: 20px;

}

#addListButton:hover {
    background-color: #b1cffc73;
    transition: background-color 200ms ease;
    cursor: pointer;
}


.listfeed__lists {

}

.listfeed__posts {
    display: none;
}

#backDiv {
    display: flex;
    align-items: center;
}

#backArrow:hover {
    cursor: pointer;
}