.listbutton {
    display: flex;
    align-content:center;
    justify-content: space-between;
    border-bottom: 1px solid var(--background);
    padding-top: 12px;
    padding-bottom: 12px;
}

.listIdentifier {
    display: flex;
    align-content: center;
    flex-direction: column;
}

#listSetting {
    height: 35px;
    width: 35px;
    border-width: 20px;
    border-radius: 20px;
}

#listSetting:hover {
    background-color: #b1cffc73;
    transition: background-color 200ms ease;
    cursor: pointer;
}

#listTitle {
    font-size: 25px;
    font-weight: bold;
    width: fit-content;
}

#listTitle:hover {
    text-decoration: underline;
    cursor:pointer;
}

#listUsername {
    font-size: 10px;
}
