.sidebarOption {
    display: block;
    align-self: center;
    height: 100%;
    width: 100%;
    column-count: 4;
    cursor: pointer;
    border-radius: 10px;
  }

  .sidebarOption:hover {
    background-color: #b1cffc73;
    color: var(--main-color);
    transition: color 100ms ease-out;
    align-items: center;
  }

  .sidebarOption > h2 {
    font-weight: 700;
    font-size: 26px;
  }

  .sidebarOption--active {
    color: var(--main-color);
    display: inherit;
  }