.cover {
    background-color: white;
    width: 30em;
    height: 30em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.loginButtonContainer {
    display: flex;
    justify-content: center;
}

.loginButton {
    width: 40%;
    height: 3em;
    background-color: rgba(14, 158, 177, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.loginButton:hover { transform: scale(1.1);}

.text {
    position: relative;
    bottom: 0.5%;
}

.hide {
    position: absolute;
    transform: scale(0);
}

.textInputLog{
    width: 250px;
    height: 50px;
}

h3{
    text-align: center;
}

.loginContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
