* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Droid Sans";
}

.mainPage {
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.registerButton {
    width: 40%;
    height: 3em;
    background-color: rgba(14, 158, 177, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.loginButton:hover { transform: scale(1.1);}

.textLog {
    position: relative;
    bottom: 0.5%;
}

.textLog{
    position: relative;
}

.passwordRequirements svg {
    margin-top: 7px;
}