.dropdown {
    cursor: pointer;  
    display: flex;
    gap: 3px;
}
.dropdown:hover {  
    color: #2980b9;
}
.menu {  
    width: 200px;  
    display: flex;  
    flex-direction: column;  
    background: #ffffff;
}
.menu-item {  
    cursor: pointer;  
    padding: 5px;  
    height: 28px;  
    border-bottom: 1px solid rgb(187, 187, 187);
}
.menu-item:hover {  
    color: #2980b9;
}