/* entire feed component css*/
.feed {
    /*border-style: solid;*/
    padding: 20px 20px 20px 20px;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(44, 42, 42);
    /* padding at bottom in case there is a bottom nav bar that would otherwise overlap on top of a post*/

}

/* header css */
.feed__header {
    display: flex;
    justify-content: center;
}

/* filter css */
.feed__filters {
    display: flex;
    border-bottom: 2px solid var(--background);
    align-items: center;
    justify-content: space-between;
    font-family: Helvetica, Arial, sans-serif;
}

.feed_posts {
    padding-top: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

.feed__noposts {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 1000px) {
    .feed {
        padding-bottom: 100px;
    }

    PatreonConnect {
        justify-content: center;
    }

    .patreonConnectPopup {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: fit-content;
        height: fit-content;
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFF;
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        z-index: 100000;
    }
}

.patreonConnectPopup {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    position: fixed;
    top: 50vh;
    left: 50vw;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 100000;
}

.patreonConnectPopupContent {
    text-align: center;
}