/* entire feed component css*/
.feed {
    /*border-style: solid;*/

    /* padding at bottom in case there is a bottom nav bar that would otherwise overlap on top of a post*/

}

/* header css */
.feed__header {
    /*border: 2px solid var(--background);*/
    padding: 15px 20px;
}

/* filter css */
.feed__filters {
    display: flex;
    border-bottom: 2px solid var(--background);
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .feed {
        padding-bottom: 100px;
    }
}