
.filterContainer {
    display: flex;
    padding-right: 20px;
    width: fit-content;
}

.filter-chip-dropdown {
    width: 200px;
}

@media only screen and (max-width: 1265px) {
    .filter-chip-dropdown {
        width: 100px;
    }
}