.filterContainer {
    display: flex;
    padding-right: 20px;
    width: fit-content;
}

.filter-chip-dropdown {
    width: 200px;
}

.rdrDefinedRangesWrapper {
    display: none;
}

.blocker {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
    z-index: 99999;
}

.content {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1265px) {
    .filter-chip-dropdown {
        width: 100px;
    }
}