.post__body > img {
    border-radius: 20px;
    width: 100%;
}

.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--background);
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post__footerDateTime {
    display: flex;
    font-size: 16px;
    color: gray;
    margin-top: 10px;
}

.post__footerRedirect {
    display: flex;
    cursor: pointer;
    margin-top: 10px;
}

.post__footerFavorite {
    display: flex;
    cursor: pointer;
    margin-top: 10px;
}

.post__footerList {
    display: flex;
    cursor: pointer;
    margin-top: 10px;
}

.post__footerTag {
    display: flex;
    cursor: pointer;
    margin-top: 10px;
}

.post__badge {
    font-size: 14px !important;
    color: var(--main-color);
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 18px;
    color: gray;
}

.post__headerText > h3 {
    text-align: left;
    font-size: 20px;
    margin-bottom: 5px;
}

.post__headerDescription {
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    padding: 20px;
}

#buttonLocation {
    display: flex;
    justify-content: center;
}

#errormsg {
    display: flex;
    justify-content: center;
}