.Searchbar {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--background);
    padding-right: 500px;
  }
  .Searchbar > form {
    display: flex;
    flex-direction: column;
  }
  .Searchbar__input {
    display: flex;
    padding: 20px;
  }
  .Searchbar__input > input {
    flex: 1;
    margin-left: 20px;
    font-weight: lighter;
    font-size: 20px;
    border: 10px, black;
    border-radius: 10px;
  }
  .Searchbar__input > input:focus {
    outline: none;
  }
  .Searchbar__button {
    border: none;
    color: white;
    font-weight: 500;
    text-transform: inherit;
    border-radius: 20px;
    margin-left: auto;
    cursor: pointer;
  }