.Searchbar {
    display: flex;
}


.Searchbar__input {
    display: flex;
    padding: 10px;
    justify-content: center;
    gap: 8px;
}

.Searchbar__input_field {
    font-family: Helvetica, Arial, sans-serif;
}

input[type=text] {
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    border: none;
}

.Searchbar__input_filter {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--background);
    border-radius: 20px;
    padding: 5px 5px 5px 10px;
    align-content: center;
    min-width: 210px;
}

.Searchbar__input_filter > input:focus {
    outline: none;
}

.Addfilter__button {
    border-radius: 50px;
    align-content: center;
    font-family: Helvetica, Arial, sans-serif;
}

.Addfilter__button_content {
    display: flex;
    white-space: nowrap;
    align-content: center;
    padding-left: 10px;
    border-radius: 50px;
    font-family: Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 1700px) {
    .Searchbar__input_field {
        width: 50%;
    }
}