.sidebar {
    display: flex;
    flex-direction: column;

    float: right;

    /*list-style-type: none;*/

    height: fit-content;
    width: 200px;

    /*       ^^^^ ---> down <---*/
    padding: 150px 20px 20px 20px;
    gap: 5px;

    border-style: solid;
}