.sidebar {
    display: flex;
    flex-direction: column;

    /*list-style-type: none;*/

    height: fit-content;
    width: fit-content;

    /*padding-top: 30px;*/

    /*border-style: solid;*/
    gap: 5px;

}