.sidebarOption {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: fit-content;
    column-count: 4;
    cursor: pointer;
    border-radius: 25px;
    gap: 15px;
    padding: 8px 8px 8px 8px;
/*          top right bottom left*/
}

.sidebarOption:hover {
    background-color: #b1cffc73;
    color: var(--main-color);
    transition: color 100ms ease-out;
}

.sidebarOption > h2 {
    font-weight: 700;
    font-size: 26px;
}

.sidebarOption--active {
    color: var(--main-color);
}