body {
    --main-color: #e7aa38;
    --background: #e6ecf0;
}


.App:after {
    content: "";
    display: flex;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    border-color: red;
}

.main {
    width: 40%;
}

.left, .right {
    width: 30%;
    /*border-style: solid;*/
}

.left {
    /*border-right: 2px solid var(--background);*/
}

.right {
    /*border-left: 2px solid var(--background);*/
}

@media only screen and (max-width: 1000px) {
    .left, .right {
        display: none;
        visibility: hidden;
    }

    .main {
        width: 100%;
        border-left-width: 0;
        border-right-width: 0;
    }
}